<!-- components/sidebar.html -->
<div class="sidebar-box">
    <!-- Time Display -->
    <div class="time-display mb-4">
        <h4 class="text-success mb-2">Time in Bandung, Indonesia</h4>
        <div class="text-muted">
            <div id="date">Mon, 3. Feb 2025</div>
            <div class="digital-clock">
                <span id="hours">01</span>:<span id="minutes">59</span>:<span id="seconds">04</span>
                <span id="session">a.m.</span>
            </div>
        </div>
    </div>

    <!-- Previous Conferences -->
    <h3 class="text-success">Previous Conferences</h3>
    <ul class="conference-list list-unstyled" id="conferenceList">
        <!-- Will be populated by JavaScript -->
    </ul>
</div>